# File `{{{basename}}}`

{{! if the file has modules we'll show a list of those }}
{{#modules.length}}
**Modules**
{{#modules}}
{{#name}}
* [{{name}}](#module-{{name}})
{{/name}}
{{/modules}}
{{/modules.length}}

{{! otherwise show a link to the functions and classes sections as applicable }}
{{^modules.length}}
{{#functions.length}}
* [Functions](#functions)
{{/functions.length}}
{{#classes.length}}
* [Classes](#classes)
{{/classes.length}}
{{/modules.length}}

{{#overview}}**Overview:** {{{overview}}}{{/overview}}

{{#description}}{{description}}{{/description}}

{{#copyright}}**Copyright** *{{copyright}}*{{/copyright}}{{^copyright}} **Author**{{/copyright}}{{#author}} {{author}}{{/author}}

{{#license}}**License:** {{license}} {{/license}}

{{#version}}**Version:** {{version}}{{/version}}

{{! if we have modules display each one as a section (there will at least be a "Global" module) }}
{{#modules}}
  {{> module}}
{{/modules}}
{{! end modules loop }}
