
{{#modules}}
{{#name}}
# Module {{name}}
{{/name}}

{{#description}}
* [Description &amp; Usage](#description)
{{/description}}

{{#functions.length}}
* [Functions](#functions)
{{/functions.length}}
{{#functions}}
 - [{{name}}](#{{name}})
{{/functions}}

{{#classes.length}}
* [Classes](#classes)
{{/classes.length}}
{{#classes}}
 - [{{name}}](#class-{{name}})
{{/classes}}

{{#description}}
## Description
{{{description}}}
{{/description}}

{{#hasRequires}}
**Requires:**

{{#requires}}
+ {{{req}}}
{{/requires}}
{{/hasRequires}}

{{#hasMembers}}
**Members:**

{{#members}}
+ {{{member}}}
{{/members}}
{{/hasMembers}}

{{#examples}}
**Example:**
{{{examples}}}

{{/examples}}

{{#functions}}
## Functions
{{> function}}
{{/functions}}

{{#classes}}
## Classes
{{> class}}
{{/classes}}

{{/modules}}

{{#overview}}**Overview:** {{{overview}}}{{/overview}}

{{#copyright}}**Copyright** *{{copyright}}*{{/copyright}}{{^copyright}} **Author**{{/copyright}}{{#author}} {{author}}{{/author}}

{{#license}}**License:** {{license}} {{/license}}

{{#version}}**Version:** {{version}}{{/version}}
