***
## {{name}}
### {{name}}({{#paramsString}}{{paramsString}}{{/paramsString}}) {{#version}}{{version}}{{/version}} &#x21e8; {{#returns}}{{#typesString}}`{{typesString}}`{{/typesString}}{{/returns}}

{{#description}}
{{{description}}}
{{/description}}

{{#examples}}
**Example**:
```js
{{{examples}}}
```
{{/examples}}

{{#deprecated}}
Deprecated: {{{deprecated}}}
{{/deprecated}}

{{#hasParams}}
**Parameters**

| name | type | description |
|------|------|-------------|{{/hasParams}}{{#params}}
| **{{name}}** | {{#typesString}}`{{typesString}}`{{/typesString}} | {{#description}}{{{description}}}{{/description}} |{{/params}}

{{#returns}}
**Returns**: {{#typesString}}`{{typesString}}`{{/typesString}}{{#description}}{{{description}}}{{/description}}
{{/returns}}

{{#fires}}
**Fires**: {{.}}
{{/fires}}
