## {{name}}
### {{name}}({{#paramsString}}{{paramsString}}{{/paramsString}}) {{#version}}{{version}}{{/version}} &#x21e8; {{#returns}}{{#typesString}}`{{typesString}}`{{/typesString}}{{/returns}}

{{#description}}
{{{description}}}
{{/description}}

{{#examples}}
**Example**:
{{{examples}}}
{{/examples}}

{{#deprecated}}
**Deprecated:** {{{deprecated}}}
{{/deprecated}}
{{#returns}}

{{#description}}
**Returns:** {{description}}.
{{/description}}
{{/returns}}

{{#hasParams}}
**Parameters**

| name | type | description |
|------|------|-------------|{{/hasParams}}{{#params}}
| {{#optional}}***{{name}}***{{/optional}}{{^optional}}**{{name}}**{{/optional}} | {{#typesString}}`{{typesString}}`{{/typesString}} | {{#description}}{{{description}}}{{/description}} |{{/params}}

{{#fires.length}}
**Fires**: {{#fires}}[`{{name}}`]({{ref}}) {{/fires}}
{{/fires.length}}

---
