{{#description}}
{{{description}}}
{{/description}}
{{#examples}}
**Example:**

{{{examples}}}
{{/examples}}
{{#functions.length}}

**[Functions](#functions)**
{{/functions.length}}
{{#functions}}
  {{> function-link}}
{{/functions}}
{{#classes.length}}

**[Classes](#classes)**
{{#classes}}
  {{> class-link}}
{{/classes}}
{{/classes.length}}
{{#hasRequires}}

**Requires:**

{{#requires}}
+ {{{req}}}
{{/requires}}
{{/hasRequires}}
{{#hasMembers}}

**Members:**

{{#members}}
+ {{{member}}}
{{/members}}
{{/hasMembers}}

{{! display functions }}
{{#functions.length}}

## Functions
{{#functions}}
### {{name}}({{#paramsString}}{{paramsString}}{{/paramsString}}) {{#version}}{{version}}{{/version}} &#x21e8; {{#returns}}{{#typesString}}`{{typesString}}`{{/typesString}}{{/returns}}{{^returns.length}}`undefined`{{/returns.length}}
{{> function}}
{{/functions}}
{{/functions.length}}

{{! display classes }}
{{#classes.length}}

## Classes
{{#classes}}
{{> class-link}}
{{/classes}}
{{/classes.length}}

{{#classes}}
{{> class}}
{{/classes}}
